[GIT]
url = https://username:password@url
client = path/to/git
[MAVEN]
client = path/to/mvn
[BRANCH]
mainBranch =  # Default master
[PROJECT]
sample_project_1 = path/on/git
sample_project_2 = path/on/git